.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 0 20px;
  background-color: #611cb0;
  color: #fff;
}

.icons{
  display: flex;
  justify-content: center;
  align-items: center;
  
}




.logouotBtn {
  background-color: #611CB0;
  border: 2px solid #222 !important;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  margin-right: 1rem;
}

.navbar-dropdown li {
  margin-bottom: 5px;
}

.navbar-dropdown li a {
  color: #fff;
  text-decoration: none;
}

.username {
  background: #222;
  width: 50px;
  height: 50px;
  border-radius:50%;
  border: 2px solid #000;
  align-items: center;
  display: flex;
  justify-content: center;
}
